#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_auroracoin
#build/auroracoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_auroracoin)

DEB_INSTALL_EXAMPLES_auroracoind += debian/examples/*
DEB_INSTALL_MANPAGES_auroracoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix auroracoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f auroracoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake auroracoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_auroracoin
	src/test_auroracoin

# Ensure wrapper is set executable
binary-post-install/auroracoind:
	chmod +x $(cdbs_curdestdir)usr/bin/auroracoind
binary-post-install/auroracoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/auroracoin-qt
