*.tar.gz

*.exe
src/auroracoin
src/auroracoind
src/auroracoin-cli
src/test/test_auroracoin
src/qt/test/test_auroracoin-qt

Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
src/auroracoin-config.h
src/auroracoin-config.h.in
src/bitcoin-config.h
src/bitcoin-config.h.in
src/build-aux/
src/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/qt/*.moc
src/qt/moc_*.cpp
src/qt5/moc*.cpp
src/qt/forms/ui_*.h
src/qt/qrc_*.cpp.n

src/qt/test/moc*.cpp

.deps
.dirstamp
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.o-*
*.Po
*.patch
.auroracoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Compilation and Qt preprocessor part
*.qm
Makefile
auroracoin-qt
Auroracoin-Qt.app

# Unit-tests
Makefile.test
auroracoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_auroracoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-auroracoind-for-test.sh
qa/pull-tester/build-tests.sh
qa/pull-tester/run-bitcoind-for-test.sh

!src/leveldb*/Makefile
