.idea

*.tar.gz

*.exe
src/smileycoin
src/smileycoind
src/smileycoin-cli
src/test/test_smileycoin
src/qt/test/test_smileycoin-qt

#autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/libtool.m4
build-aux/lt~obsolete.m4
build-aux/ltoptions.m4
build-aux/ltsugar.m4
build-aux/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/smileycoin-config.h
src/smileycoin-config.h.in
src/bitcoin-config.h
src/bitcoin-config.h.in
src/stamp-h1
misc/share/qt/Info.plist

src/qt/*.moc
src/qt/moc_*.cpp
src/qt5/moc*.cpp
src/qt/forms/ui_*.h
src/qt/qrc_*.cpp.n

src/qt/test/moc*.cpp

.deps
.dirstamp
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.o-*
*.Po
*.patch
.smileycoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Compilation and Qt preprocessor part
*.qm
Makefile
smileycoin-qt
Smileycoin-Qt.app

# Unit-tests
Makefile.test
smileycoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_smileycoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
misc/qa/pull-tester/run-smileycoind-for-test.sh
misc/qa/pull-tester/build-tests.sh
misc/qa/pull-tester/run-bitcoind-for-test.sh

!src/leveldb*/Makefile
*.ipch
